<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Tutorial WebFlux</title>
    </head>
    <body>
        <div th:if="${param.error != null}" th:text="${param.error}"></div>
        <div th:if="${param.success != null}" th:text="${param.success}"></div>
        <h1 th:text="${title}"></h1>
        <a th:href="@{/product-form}">Create +</a>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Created At</th>
                    <th>Category</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product: ${products}">
                    <td><a th:href="@{/detail-product/}+${product.id}"
                           th:text="${#strings.abbreviate(product.id, 10)}">
                    </a></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${#numbers.formatCurrency(product.price)}"></td>
                    <td th:text="${#calendars.format(product.createdAt, 'dd/MM/yyyy')}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td> <a th:href="@{/product-form-v2/} + ${product.id}">Edit</a> </td>
                    <td> <a th:href="@{/delete-product/} + ${product.id}"
                            onclick="return confirm('Are you sure of delete this product?');">Delete</a> </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>